@use "variables" as *;
@use "mixins" as *;

%button_all {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  line-height: 45px;
  text-align: center;
  font-size: 13px;
  padding: 0 25px;
  background-color: $second_color;
  color: #fff;
  border: 0;
  box-shadow: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: $weight_bold;
  @include border_radius(25px);
  @include transition(0.3s all linear);
  @include mediaquery(max, mobile) {
    font-size: 12px;
    line-height: 40px;
    padding: 0 20px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    clip-path: circle(0% at 50% 100%);
    background-color: #fff1;
    @include transition(0.3s all linear);
  }
  span {
    position: relative;
    z-index: 999;
  }
  &:hover {
    color: #fff;
    &::before {
      clip-path: circle(140% at 50% 50%);
    }
  }

  &.more {
    margin: 15px auto 0;
  }
}
%button_icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 13px;
  padding: 0;
  background-color: $second_color;
  color: #fff;
  border: 0;
  box-shadow: none;
  @include border_radius(50%);
  @include transition(0.3s all linear);
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    clip-path: circle(0% at 50% 100%);
    background-color: #fff2;
    @include transition(0.3s all linear);
  }

  i,
  &::before {
    z-index: 999;
    position: relative;
  }
  &:hover {
    color: #fff;
    &::after {
      clip-path: circle(100% at 50% 50%);
    }
    i,
    &::before {
      color: $main_color;
    }
  }
}
%list {
  margin: 15px 0;
  li {
    display: block;
    line-height: 25px;
    margin-bottom: 15px;
    padding-inline-start: 25px;
    font-size: 15px;
    color: $main_color;
    position: relative;
    &::before {
      content: "\f00c";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      position: absolute;
      left: 0;
      top: 0;
      color: $second_color;
    }
  }
  @include mediaquery(max, mobile) {
    font-size: 13px;
  }
}

%flex {
  @include flex(column, center, start);
}
// use Placholder
.link {
  @extend %button_all;
}
.icon {
  @extend %button_icon;
}
.flex {
  @extend %flex;
}
.list {
  @extend %list;
}
