@use "../abstracts/abstracts_all" as *;

/* Blog
===================*/
.inner .blog_item {
  margin-bottom: 25px;
}
.blog_item {
  display: block;
  margin-top: 25px;
  overflow: hidden;
  position: relative;

  .cover {
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      @include transition(0.5s linear transform);
    }
  }

  .cont {
    background-color: #fafafa;
    padding: 45px 15px 0 15px;
    position: relative;
    color: $main_color;
    word-spacing: 1px;
    .date {
      width: 50px;
      height: 55px;
      position: absolute;
      top: -25px;
      left: 15px;
      padding: 8px;
      line-height: 20px;
      background-color: $second_color;
      text-align: center;
      font-weight: $weight_bold;
      color: #fff;
      font-size: 16px;
    }
    a {
      display: inline-block;
      margin: 0 0 10px;
      font-size: 18px;
      line-height: 25px;
      font-weight: $weight_bold;
      color: $main_color;
      &:last-child {
        color: $second_color;
        font-size: 14px;
        i {
          margin-inline-start: 5px;
          vertical-align: middle;
        }
      }
    }
    p {
      margin: 0 0 10px;
      font-size: 14px;
      line-height: 25px;
      word-spacing: 2px;
      color: $black_color;
    }
  }

  &:hover {
    @include box_shadow(0px, 0px, 5px, 0px, #e7e7e7);
    .cover img {
      @include transform(rotate(1deg) scale(1.07));
    }
  }
}
.more_btn {
  position: absolute;
  right: 15px;
  top: 15px;
  line-height: 40px;
  border: 1px solid #0003;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: $weight_bold;
  color: $main_color;
  padding: 0 15px;
  @include border_radius(25px);
  &:hover {
    color: $second_color;
  }
  @include mediaquery(max, tablet) {
    position: relative;
    left: auto;
    top: auto;
    margin: 15px auto 0;
  }
}

/* News Details
===================*/
.blog {
  h3 {
    margin: 0 auto 15px;
    font-size: 24px;
    color: $main_color;
    font-weight: $weight_bold;
  }
  h4 {
    font-size: 14px;
    margin: 0 0 15px;
    color: $second_color;
    font-weight: $weight_bold;
    i {
      margin-inline-end: 5px;
    }
  }
  img {
    @include border_radius(5px);
    margin: 15px 0;
  }
  p {
    font-size: 16px;
    line-height: 30px;
    color: #444;
  }
}
.share {
  background-color: #f2f1f3;
  padding: 10px 15px;
  margin-bottom: 25px;
  @include flex(row, space-between, center);
  h4 {
    font-size: 16px;
    margin: 0;
    letter-spacing: 1px;
    color: $main_color;
    font-weight: $weight_bold;
  }
  @include mediaquery(max, mobile) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.comments-list {
  position: relative;
  padding-inline-start: 80px;
  margin: 15px 0;
  img {
    position: absolute;
    left: 0;
    top: 0;
    @include border_radius(5px);
    max-width: 60px;
  }
  h5 {
    font-size: 16px;
    margin-bottom: 10px;
    color: $second_color;
    font-weight: $weight_bold;
    span {
      font-size: 13px;
      font-weight: $weight_reg;
      color: #444;
    }
  }
  p {
    font-size: 14px;
  }
}
.article-leave-comment {
  border-top: 1px solid #f2f1f3;
  margin-top: 25px;
  padding-top: 25px;
  h3 {
    font-size: 16px;
    margin: 0 0 25px;
    letter-spacing: 1px;
    color: $main_color;
    font-weight: $weight_bold;
    text-transform: uppercase;
  }
}
.related {
  padding: 15px;
  @include border_radius(5px);
  background-color: #f4f4f4;
  position: sticky;
  top: 160px;
  h3 {
    font-weight: $weight_bold;
    font-size: 16px;
    color: $main_color;
    margin: 10px 0 15px 0;
  }
  li {
    display: block;
  }
}

.list_item {
  @include flex(row, flex-start, flex-start);
  background-color: #ffffff;
  padding: 15px;
  color: $main_color;
  width: 100%;
  margin-top: 15px;
  font-size: 15px;
  &:hover {
    color: $second_color;
  }
  img {
    margin: 0;
    margin-inline-end: 15px;
    width: 90px;
    @include border_radius(2px);
  }
  p {
    font-weight: $weight_bold;
    font-size: 14px;
    margin: 0;
  }
  span {
    display: block;
    color: #444;
  }
}
